<p id="notice"><%= notice %></p>

<p>
    <strong>Name:</strong>
    <%= @menu.name %>
</p>

<p>
    <strong>Level:</strong>
    <%= @menu.level %>
</p>

<p>
    <strong>Menu:</strong>
    <%= @menu.menu_id %>
</p>

<p>
    <strong>Article:</strong>
    <%= @menu.article_id %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
