<nav id="nav">
    <ul>
        <% top_articles.each do |article| %>
        <li><%= link_to ("<span>" + t(article.title) + "</span>").html_safe, article, class: article.icon %>
                <% if article.articles.count > 0 %>
                    <ul>
                        <% article.articles.select { |a| a[:visibility] }.each do |article2| %>
                        <li><%= link_to t(article2.title), article2 %>
                            <% if article2.articles.count > 0 %>
                                <ul>
                                    <% article2.articles.select { |a| a[:visibility] }.each do |article3| %>
                                    <li><%= link_to t(article3.title), article3 %></li>
                                    <% end %>
                                </ul>
                            <% end %>
                            </li>
                        <% end %>
                    </ul>
                <% end %>
            </li>
        <% end %>
      <!-- courtcircuitage du menu historique article -->
       <li>
         <%= link_to(t('blog'), 'http://blog.isitix.com', class: 'icon fa-comments', target: '_blank') %>
       </li>
      <li>
        <%= link_to(t('language'), "#{request.env['REQUEST_URI'].split('?').first()}?locale=#{t('local')}", class: 'icon fa-globe') %>
      </li>
    </ul>
</nav>
