<!-- Header -->
<div id="header-wrapper">
    <div id="header" class="container">

        <!-- Logo -->
        <h1 id="logo"><a href="#">ISITIX</a></h1>

        <p><strong>Cabinet de conseil IT indépendant</strong></p>
        <!-- Nav -->
        <%= render partial: 'menus/menus', locals: {top_menus: @menus} %>

    </div>
</div>
<!-- contact -->
<div id="contact-wrapper">
    <div id="contact" class="container">
        <header>
            <strong>
                <% if flash[:notice] %><%= flash[:notice] %>
                <% else %>
                    <a href="#" onclick="toggle_visibility('contactform');" class="icon fa-envelope"> Nous
                        contacter (click here)</a></strong>
                <% end %>
                </header>
        <div class="row" id="contactform">
            <div class="6u">
                <section>
                    <%= render "contacts/form" %>
                </section>
            </div>
            <div class="6u">
                <section>
                    <div class="row">
                        <div class="12u">
                            <ul class="icons">
                                <li class="icon fa-home">
                                    Siège social : 18, rue des Fougères<br/>
                                    22700 Perros-Guirec<br/>
                                    FRANCE
                                </li>
                                <li class="icon fa-phone">
                                    +33 9 72 22 47 31
                                </li>
                                <li class="icon fa-envelope">
                                    <a href="mailto: contact@isitix.com">contact@isitix.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row">

            <div id="content" class="8u">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2 id="technologie"><%= @article.title %></h2>
                    </header>
                    <span class="image featured"><%= image_tag(@article.first_picture) %></span>
                    <%= @article.big_content.html_safe %>
                </article>

            </div>
            <!-- Sidebar -->
            <div id="sidebar" class="4u">
                <!-- Excerpts -->
                <%= render partial: 'articles/verticalexcerpt', locals: {articles: @articles} %>
            </div>
        </div>
    </div>
</div>

<!-- Banner -->
<div id="banner-wrapper">
    <div class="inner">
        <section id="banner" class="container">
            <p>Nous vous conseillons avec pragmatisme en toute indépendance.</p>
        </section>
    </div>
</div>

<!-- Footer -->
<!--<div id="footer-wrapper">-->
<div id="copyright" class="container">
    <ul class="links">
        <li>&copy; ISITIX. Tous droits réservés.</li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
</div>
