

<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row">

            <div id="content" class="8u">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2 id="technologie"><%= @article.title %></h2>
                    </header>
                    <span class="image featured"><%= image_tag(@article.first_picture) %></span>
                    <%= @article.big_content.html_safe %>
                    <% @article.articles.select { |a| a[:visibility] }.each do |article2| %>
                        <h3><%= article2.title %></h3>
                        <%= article2.big_content.html_safe %>
                        <% if article2.articles.count > 0 %>
                            <% article2.articles.select { |a| a[:visibility] }.each do |article3| %>
                                <h4><%= article3.title %></h4>
                                <%= article3.big_content.html_safe %>
                            <% end %>
                        <% end %>
                    <% end %>
                </article>
            </div>
            <!-- Sidebar -->
            <div id="sidebar" class="4u">
                <!-- Excerpts -->
                <%= render partial: 'articles/verticalexcerpt', locals: {articles: @articles} %>
            </div>
        </div>
    </div>
</div>


