<%= form_for(@contact) do |f| %>
    <% if @contact.errors.any? %>
        <div id="error_explanation">
            <h2>Votre demande de contact comporte des erreurs :</h2>

            <ul>
                <% @contact.errors.full_messages.each do |message| %>
                    <li class="error"><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="row 50%">
        <div class="6u">
            <%= f.label :name, "nom" %>
            <%= f.text_field :name, :placeholder => 'Nom' %>
        </div>
        <div class="6u">
            <%= f.label :email, "email" %>
            <%= f.text_field :email, :placeholder => 'Email' %>
        </div>
    </div>
    <div class="row 50%">
        <div class="6u">
            <%= f.label :company, "société" %>
            <%= f.text_field :company, :placeholder => 'Société' %>
        </div>
        <div class="6u">
            <%= f.label :phone, "téléphone" %>
            <%= f.text_field :phone, :placeholder => 'Téléphone' %>
        </div>
    </div>
    <div class="row 50%">
        <div class="12u">
            <%= f.label :content, "message" %>
            <%= f.text_area :content, :placeholder => 'Message' %>
        </div>
    </div>
    <div class="row 50%">
        <div class="12u">
            <a href="javascript:{}" onclick="this.submit(); return false;" class="form-button-submit button icon fa-envelope">Envoyer</a>
        </div>
    </div>
<% end %>
