<%= form_for(@contact) do |f| %>
    <% if @contact.errors.any? %>
        <div id="error_explanation">
          <h2><%= t 'error' %></h2>

            <ul>
                <% @contact.errors.full_messages.each do |message| %>
                    <li class="error"><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="row 50%">
        <div class="6u">
          <%= f.label :name, t('name') %>
          <%= f.text_field :name, :placeholder => t('name') %>
        </div>
        <div class="6u">
          <%= f.label :email, t('email') %>
          <%= f.text_field :email, :placeholder => t('email') %>
        </div>
    </div>
    <div class="row 50%">
        <div class="6u">
          <%= f.label :company, t('company') %>
          <%= f.text_field :company, :placeholder => t('company') %>
        </div>
        <div class="6u">
          <%= f.label :phone, t('phone') %>
          <%= f.text_field :phone, :placeholder => t('phone') %>
        </div>
    </div>
    <div class="row 50%">
        <div class="12u">
          <%= f.label :content, t('message') %>
          <%= f.text_area :content, :placeholder => t('message') %>
        </div>
    </div>
    <div class="row 50%">
        <div class="12u">
          <a href="javascript:{}" onclick="this.submit(); return false;" class="form-button-submit button icon fa-envelope"><%= t 'send' %></a>
        </div>
    </div>
<% end %>
