<%= form_for(@contact) do |f| %>
    <% if @contact.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

            <ul>
                <% @contact.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="row 50%">
        <div class="6u">
            <%= f.text_field :name, :placeholder => 'Nom' %>
        </div>
        <div class="6u">
            <%= f.text_field :email, :placeholder => 'Email' %>
        </div>
    </div>
    <div class="row 50%">
        <div class="6u">
            <%= f.text_field :company, :placeholder => 'Société' %>
        </div>
        <div class="6u">
            <%= f.text_field :phone, :placeholder => 'Téléphone' %>
        </div>
    </div>
    <div class="row 50%">
        <div class="12u">
            <%= f.text_area :message, :placeholder => 'Message' %>
        </div>
    </div>
    <div class="row 50%">
        <div class="12u">
            <a href="javascript:{}" onclick="this.submit(); return false;" class="form-button-submit button icon fa-envelope">Envoyer</a>
        </div>
    </div>
<% end %>

