<!DOCTYPE html>
<html>
<head>
  <title><%= t 'page_title' %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <!--[if lte IE 8]><script src='<%= asset_path("ie/html5shiv.js") %>'></script><![endif]-->

    <script src='<%= asset_path("jquery.min.js") %>'></script>
    <script src='<%= asset_path("jquery.dropotron.min.js") %>'></script>
    <script src='<%= asset_path("skel.min.js") %>'></script>
    <script src='<%= asset_path("skel-layers.min.js") %>'></script>
    <script src='<%= asset_path("init.js.erb") %>'></script>
  <script src='<%= asset_path("google_analytics.js.coffee") %>'></script>
  <script src='<%= asset_path("contactform.js.coffee") %>'></script>
  <noscript>
        <link rel="stylesheet" href='<%= asset_path("skel.css") %>'/>
        <link rel="stylesheet" href='<%= asset_path("style.css") %>'/>
        <link rel="stylesheet" href='<%= asset_path("style-desktop.css") %>'/>
    </noscript>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="css/ie/v8.css"/><![endif]-->
    <link rel="icon" type="image/bmp" href='<%= asset_path("favicon.ico") %>'/>
    <link rel="shortcut icon" type="image/bmp" href='<%= asset_path("favicon.ico") %>'/>
    <%= csrf_meta_tags %>
</head>
<body>
<div class="homepage">

    <!-- Header -->
    <div id="header-wrapper">
        <div id="header" class="container">

            <!-- Logo -->
            <h1 id="logo"><%= link_to 'ISITIX', root_path %></h1>

          <p><strong><%= t 'title' %></strong></p>
            <!-- Nav -->
            <%= render partial: 'articles/menus', locals: {top_articles: @toparticles} %>
        </div>
    </div>

    <%= yield %>
    <!-- Banner -->
    <div id="banner-wrapper">
        <div class="inner">
            <section id="banner" class="container">
              <p><%= t 'motto2' %></p>
            </section>
        </div>
    </div>
  <!-- contact -->
  <div id="contact-wrapper">
    <div id="contact" class="container">
      <header>
        <strong>
          <% if flash[:notice] %><%= flash[:notice] %>
          <% else %>
            <a id="contactbutton" href="#" class="icon fa-envelope"><%= t 'contact_us' %></a></strong>
          <% end %>
          </header>
      <div class="row" id="contactform">
        <div class="6u">
          <section>
            <%= render "contacts/form" %>
          </section>
        </div>
        <div class="6u">
          <section>
            <div class="row">
              <div class="12u">
                <ul class="icons">
                  <li class="icon fa-home">
                    <%= t 'head_office' %> : 18, rue des Fougères<br/>
                    22700 Perros-Guirec<br/>
                    FRANCE
                  </li>
                  <li class="icon fa-phone">
                    +33 9 72 22 47 31
                  </li>
                  <li class="icon fa-envelope">
                    <a href="mailto: contact@isitix.com">contact@isitix.com</a>
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
    <!-- Footer -->
    <!--<div id="footer-wrapper">-->
    <div id="copyright" class="container">
        <ul class="links">
          <li><%= t 'copyright__html' %></li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</div>

</body>
</html>
